@import 'normalize.css';
@import 'element-plus/dist/index.css';

:root {
    --code-bg-color: var(--el-fill-color-light);
}

body {
    font-family: "Roboto", sans-serif;
}

pre {
    background-color: var(--code-bg-color);
    margin: calc(-1 * var(--el-card-padding));
    padding: var(--el-card-padding);
}
